// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footer {
	border-top: 1px solid #DDD;
	padding: 30px 8.5%;
	font-size: 16px;
	font-weight: 300;
}